<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <title>StreamWave</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-2">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('index') }}"><img src = "{{ url_for('static', filename='logo.png') }}" width="30px" /></a>
            <h4 class = "me-5 mt-2 fw-light" >StreamWave</h4>
            <form class="d-flex justify-content-start w-25 me-auto ms-4" role="search" method="post" action="{{ url_for('search_results')}}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="queryString">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <div class = "d-flex me-5">
            </div>
            
          </div>
      </nav>
      <div class = "container-fluid mt-2">
        <div class="row row-cols-3">
            <div class="col-md-2 mt-2" id="col1">
                <div class="row mt-3">
                    <a href="{{url_for('account')}}" class="d-flex justify-content-center" >
                        <img src = "{{ url_for('static', filename='uploads/' + user.img) }}" class="mt-2 rounded-circle" width="120px" height="120px" class = "mt-2" style="object-fit: cover;"/>
                    </a>
                    <div class="col mb-3">
                        <h3 class="mt-3 d-flex justify-content-center">{{user.username}}</h3>
                        <p class="fw-light d-flex justify-content-center">{{user.email}}</p>
                        <a href="{{ url_for('register') }}" class = "btn btn-primary btn-sm mb-2 btn-block col-12 custom-btn rounded" {{hide}}>Login/Register</a>
                </div>
            
                <div class="menu-btns mt-3">
                    <a href="{{ url_for('create_song') }}" class="btn btn-primary btn-block mb-2 col-12 custom-btn" {{log}}>New Song</a>
                    <a href="{{ url_for('create_playlist') }}" class="btn btn-primary btn-block mb-2 col-12 custom-btn" {{log}}>New Playlist</a>
                    <a href="{{ url_for('create_album') }}" class="btn btn-primary btn-block mb-2 col-12 custom-btn" {{log}}>New Album</a>
                    <a href="{{ url_for('manage_songs') }}" class="btn btn-primary btn-block mb-2 col-12 custom-btn" {{log}}>Manage Songs</a>
                    <a href="{{ url_for('manage_playlists') }}" class="btn btn-primary btn-block mb-2 col-12 custom-btn" {{log}}>Manage Playlists</a>
                    <a href="{{ url_for('manage_albums') }}" class="btn btn-primary btn-block mb-2 col-12 custom-btn" {{log}}>Manage Albums</a>
                    <a href="{{ url_for('logout') }}" class="btn btn-secondary btn-block mb-2 col-12" {{log}}>Logout</a>
                </div>
            </div>
        </div>

{% block content %}{% endblock %}
<div class="col-md-2" id="col3">
        <img src="{{ url_for('static', filename='uploads/' + curr_song.img) }}" class="me-5 rounded" alt="cover" style="width: 15.5rem; height: 15.5rem; object-fit: cover;">
        <h3 class="mt-2 ms-1">{{curr_song.name}}</h3>
        <h6 class="fw-light ms-1">{{curr_song.user.username}}</h6>

</div>
</div>
</div>
</div>

<div class="fixed-bottom" id="player">
    <div class="container-fluid d-flex justify-content-center">
        <div class="row">
            <div class="col mt-2 mb-2 ">
                <img id="prevBtn" src="{{ url_for('static', filename='prev.png') }}" width="40px" onclick="togglePrev({{curr_song.id}})">
            </div>
            <div class="col mt-2 mb-2 ">
                <img id="playPauseBtn" src="{{ url_for('static', filename='play.png') }}" width="40px" onclick="togglePlayPause()">
            </div>
            <div class="col mt-2 mb-2 ">
                <img id="nextBtn" src="{{ url_for('static', filename='next.png') }}" width="40px" onclick="toggleNext({{curr_song.id}})">
            </div>
        </div>
    </div>
</div>

<script>
    function togglePlayPause() {
        fetch('/play_pause')
            .then(response => {
                if (response.ok) {
                    return response.text();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                console.log(data);
                updatePlayPauseIcon();
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    function updatePlayPauseIcon() {
        var playPauseBtn = document.getElementById('playPauseBtn');
        playPauseBtn.src = (playPauseBtn.src.endsWith('play.png')) ? '{{ url_for('static', filename='pause.png') }}' : '{{ url_for('static', filename='play.png') }}';
    }

    function toggleNext(id) {
        fetch('/next/' + id)
            .then(response => {
                if (response.ok) {
                    var playPauseBtn = document.getElementById('playPauseBtn');
                    playPauseBtn.src = '{{ url_for('static', filename='pause.png') }}';
                    return response.text();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    document.addEventListener('DOMContentLoaded', function() {
    PlayPauseIcon();
    console.log('Player Status:', {{status}});
    function PlayPauseIcon() {
        var playPauseBtn = document.getElementById('playPauseBtn');
        playPauseBtn.src = ('{{ status }}' === 'pause') ? '{{ url_for('static', filename='pause.png') }}' : '{{ url_for('static', filename='play.png') }}';
    }
});

    function togglePrev(id) {
        fetch('/prev/' + id)
            .then(response => {
                if (response.ok) {
                    var playPauseBtn = document.getElementById('playPauseBtn');
                    playPauseBtn.src = '{{ url_for('static', filename='pause.png') }}';
                    return response.text();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }
</script>
<div class="container mt-5"></div>
</body>
</html>