<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Song</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <input type="text" placeholder="Song name" name="name">
        <input type="file" placeholder="Song" name="song">
        <input type="text" placeholder="Genre" name="genre">
        <input type="number" placeholder="Duration" name="duration">
        <textarea rows="4" cols="50" name="lyrics"></textarea>
        <input type="submit" value="upload">        
    </form>
</body>
</html>