<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="POST">
        Username <input type="text" name="username" placeholder="username" required><br>
        email <input type="email" name="email" placeholder="email" required><br>
        password <input type="password" name="password" placeholder="password" required><br>
        <input type="radio" id="role2" name="role" value="user">
        <label for="age2">User</label><br>
        <input type="radio" id="role3" name="role" value="artist">
        <label for="age3">Artist</label><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>