{% extends "base.html" %}

{% block content %}
    <div class = "container-fluid mt-2">
        <div class="row row-cols-3">
            <div class="col-md-2 mt-2" id="col1">
                <div class="row">
                    <div class="col-sm-3">
                        <img src = "../static/react.svg" width="60px" class = "mt-2"/>
                    </div>
                    <div class="col">
                        <h3 class="mt-1">{{user}}</h3>
                        <p class="fw-light">{{email}}</p>
                        <a href="{{ url_for('login') }}" class = "btn btn-primary btn-sm mb-2" {{hide}}>Login</a>
                    </div>
                </div>
            
                <div class="menu-btns">
                    <br>
                    <a href="{{ url_for('create_song') }}" class="btn btn-primary btn-block mb-2" {{log}}>New song</a>
                    <a href="{{ url_for('create_playlist') }}" class="btn btn-primary btn-block mb-2" {{log}}>New playlist</a>
                    <a href="{{ url_for('create_album') }}" class="btn btn-primary btn-block mb-2" {{log}}>New album</a>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger btn-block mb-2" {{log}}>Logout</a>
                </div>
        </div>
        
        <div class="col-md-8" id="col2">
          <div class="shadow p-4 mb-1 bg-outline-dark rounded">
            <div class="row">
            <div class="col-md-3">
              <img src="{{ url_for('static', filename='uploads/' + song.img) }}" style="width: 15rem; height: 15rem; object-fit: cover;">
            </div>
            <div class="col-md-9">
              <h1 class = "ms-2">{{song.name}}</h1>
              <h5 class = "ms-2 fw-light">{{song.user.username}}</h5>
              <img id="playPauseBtnMenu" src="{{ url_for('static', filename='play.png') }}" width="50px" onclick="Play( {{song.id}} )">
            </div>
          </div>
        </div>
        </div>
        <script>
          function Play(id) {
              fetch('/play/' + id)
                  .then(response => {
                      if (response.ok) {
                          return response.text();
                      }
                      throw new Error('Network response was not ok.');
                  })
                  .then(data => {
                      console.log(data);
                      updatePlayPauseIcon();
                  })
                  .catch(error => {
                      console.error('There was a problem with the fetch operation:', error);
                  });
          }
        </script>
        {% endblock %}