{% extends "base.html" %}

{% block content %}          
        <div class="col-md-8" id="col2">
          
            <div class="shadow p-1 mb-1 me-4 bg-outline-dark rounded">
              <div class="row">
              <div class="col-md-3">
                <img src="{{ url_for('static', filename='uploads/' + playlist.img) }}" class="rounded" style="width: 15rem; height: 15rem; object-fit: cover;">
              </div>
              <div class="col-md-9">
                <h1 class = "ms-4">{{playlist.name}}</h1>
                <h5 class = "ms-4 fw-normal">{{playlist.desc}}</h5>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-1">
              <!-- <h6 class = "ms-4 fw-light">Cover</h6> -->
            </div>
            <div class="col-md-3">
              <h6 class = "ms-4 fw-light">Song</h6>
            </div>
            <div class="col-md-3">
              <h6 class = "ms-4 fw-light">Artist</h6>
            </div>
            <div class="col-md-4">
              <h6 class=" fw-light">Duration</h6>
            </div>
            <div class="col-md-1">
            </div>

          </div>
          {% for song in playlist_songs %}
          <div class="shadow p-4 bg-outline-dark rounded">
            <div class="row">
            <div class="col-md-1">
              <img src="{{ url_for('static', filename='uploads/' + song.img) }}" style="width: 4rem; height: 4rem; object-fit: cover;">
            </div>
            <div class="col-md-3">
              <a class="link-light link-underline-opacity-0" href="{{ url_for('view_song', id=song.id) }}"><h4 class="fw-normal">{{song.name}}</h4></a>
            </div>
            <div class="col-md-3">
              <a class="link-light link-underline-opacity-0" href="{{ url_for('view_user_profile', user_id=song.user.id) }}"><h6 class="fw-light">{{song.user.username}}</h6></a>
            </div>
            <div class="col-md-4">
              <h6>{{song.duration}}</h6>
            </div>
            <div class="col-md-1">
              <img id="playPauseBtnMenu" src="{{ url_for('static', filename='play.png') }}" width="50px" onclick="Play({{song.id}})">
            </div>
          </div>
        </div>
        {% endfor %}

        </div>
<script>
  function Play(id) {
      fetch('/play/' + id)
          .then(response => {
              if (response.ok) {
                  return response.text();
              }
              throw new Error('Network response was not ok.');
          })
          .then(data => {
              console.log(data);
              updatePlayPauseIcon();
          })
          .catch(error => {
              console.error('There was a problem with the fetch operation:', error);
          });
  }
</script>
{% endblock %}